
body {
    background-color: white;
    background-image: url("/static/images/fon.png");
    background-repeat: repeat-x;

}
.first-section{
    margin-top: 100px;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: -10px -10px -10px -10px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


li {
    float: left;
    margin: auto;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
