<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/change_password" method="post">
     <label for="Email">Email</label>
     <input type="email" id="Email" name="email"><br>
     <label for="Password_old">old Password</label>
     <input type="password" id="Password_old" name="password_old"><br>
     <label for="Password_new">new Password</label>
     <input type="password" id="Password_new" name="password_new"><br>
     <button type="submit">Submit</button>
</form>
</body>
</html>