<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/login.css" rel="stylesheet">
</head>
<body>

<div>
    <form action="/change_password" method="post">
        <div class="container">
            <label for="Email">Email</label>
            <input type="email" id="Email" name="email"><br>
            <label for="Password_old">old Password</label>
            <input type="password" id="Password_old" name="password_old" required><br>
            <label for="Password_new">new Password</label>
            <input type="password" id="Password_new" name="password_new" minlength="4"
                   maxlength="23" required><br>
            <button type="submit">Submit</button>
        </div>

    </form>
</div>

</body>
</html>