<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Реєстрація</title>
    <link href="/static/css/login.css" rel="stylesheet">
</head>
<body>
<h1>Sign in</h1>


<form  action="/Login" method="post">
    <div class="container">
        <label for="Email"><b>Email</b></label>
        <input type="email" id="Email" placeholder="Enter Email" name="email" required>
        <br>
        <label for="Password"><b>Password</b></label>
        <input type="password" id="Password" name="password" placeholder="Enter Password" minlength="4"
               maxlength="23" required>
        <button type="submit">Submit</button>
    </div>
    <div class="container" style="background-color:#f1f1f1">
        <span class="Password">Forgot <a class="forgot_password" href="/change_password">password?</a></span>
    </div>
</form>

</body>
</html>



