<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/main.css" rel="stylesheet">
</head>
<body>

<div class="description">
    {% for i in photo%}
    <img class="photo" src={{i.img}}><br>
    <ul>
        {%if i.description%}
        <li>Про товар: {{i.description}}</li>
        {%if i.name_of_product%}
        {%endif%}
        <li>Назва : {{i.name_of_product}}</li>
        {%endif%}
        <li>Ціна : {{i.cost}}</li>
        <li>Категорія :{{i.category}}</li>
    </ul>
    <br>
    <br>
    <div class="button">
        {%if session.id==i.user_id%}
        <button type="submit"><a href={{url_for('editProduct', id=i.id)}}>Редагувати</a></button>
        <button><a href={{url_for('delete',id=i.id)}}>Видалити</a></button>
        {%endif%}
    </div>
    {% endfor %}
</div>
</body>
</html>