<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/show_image.css" rel="stylesheet">
</head>
<body>
<div class="menu-contents">
    <ul>
        <li><a href="/logout">Exit</a></li>
        <li><a href="/add_image">Add image</a></li>
        <li><a href="/show_all_images">Show all images</a></li>
        <li><a href="/show_my_images">Show my images</a></li>
        <li><a href="/home">Home</a></li>
    </ul>
</div>
<div>
    {% for i in photo%}
    <div class="image">
        <img class="photo" src={{i.img}}><br>
    </div>
    <ul class="nav-list">
        {%if i.description%}
        <li>Про товар: {{i.description}}</li>
        {%if i.name_of_product%}
        {%endif%}
        <li>Назва : {{i.name_of_product}}</li>
        {%endif%}
        <li>Ціна : {{i.cost}}</li>
        <li>Категорія :{{i.category}}</li>
    </ul>
    <br>
    <br>
    <div class="button">
        {%if session.id==i.user_id%}
        <button type="submit"><a href={{url_for('editProduct',id=i.id)}}>Редагувати</a></button>
        <button><a href={{url_for('delete',id=i.id)}}>Видалити</a></button>
        {%endif%}
        {%if session.id!=i.user_id%}
        <button><a href={{url_for('add_to_basket',id=i.id)}}>Додати в корзину</a></button>
        {%endif%}
    </div>
    {% endfor %}
</div>

        {%if count==0%}
            <h1 class="zero_product">You don't have any product</h1>
        {%endif%}

</body>
</html>