<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/user.css" rel="stylesheet">
</head>
<body>


<ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/logout">Exit</a></li>
    <li><a href="/add_image">Add image</a></li>
    <li><a href="/show_my_images">Show My images</a></li>
    <li><a href="/show_all_images">Show all images</a></li>
    <li><a href="/show_my_basket">Show my basket</a></li>
     <li><a href="/My_cabinet">My cabinet</a></li>
    <li>
        <div class="dropdown">
           <a href="javascript:void(0)" class="dropbtn">Category</a>
            <div class="dropdown-content">
                {%for i in category%}
                <a href={{url_for('show_by_category', id=i)}}>{{i}}</a>
                {%endfor%}
            </div>
        </div>
    </li>
</ul>

<h1 class="first-section">Hello {{session.name}}</h1>


<br>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category,message in messages %}
    <div class="error">
          {%if category=='error'%}
        <div class="message">
            {{ message }}
        </div>
         {%endif%}
    </div>
    <div class="success">
         {%if category == 'success'%}
         <div class="message">
            {{ message }}
        </div>
    {%endif%}
    </div>

    {% endfor %}

{% endif %}
{% endwith %}

</body>
</html>